/**
 * Theme styles 
 */

/* resets to get better control over form elements inside vertical tabs */
.vertical-tabs-panes textarea.form-textarea, 
.vertical-tabs-panes input[type="date"], 
.vertical-tabs-panes input[type="datetime"], 
.vertical-tabs-panes input[type="datetime-local"], 
.vertical-tabs-panes input[type="email"], 
.vertical-tabs-panes input[type="month"], 
.vertical-tabs-panes input[type="number"], 
.vertical-tabs-panes input[type="password"], 
.vertical-tabs-panes input[type="search"], 
.vertical-tabs-panes input[type="tel"], 
.vertical-tabs-panes input[type="text"], 
.vertical-tabs-panes input[type="time"], 
.vertical-tabs-panes input[type="url"], 
.vertical-tabs-panes input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid;
  border-color: #ddd;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  height: 2em;
  width: 100%;
  vertical-align: top;
}
.vertical-tabs-panes input[type="checkbox"],
.vertical-tabs-panes input[type="radio"] {
  cursor: pointer;
}
.vertical-tabs-panes textarea {
  height: auto;
}
/* add back better spacing and border bottom */
html.js .vertical-tabs-panes fieldset {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 0;
  display: inline-block;
  width: 100%;
}
.vertical-tabs-panes fieldset .fieldset-wrapper {
  padding: 0 15px 0; 
  margin-top: .5em;
}
/* push summary right */
.vertical-tabs-panes a.fieldset-title {
margin-right: .5em; /* LTR */
}
/* positions collapse icon beside legend */
html.js .vertical-tabs-panes fieldset.collapsed .fieldset-legend {
  background-position: 0 7px; /* LTR */
  position: static;
}
/* positions collapse icon beside legend */
html.js .vertical-tabs-panes fieldset.collapsible .fieldset-legend {
  background-position: 0 7px; /* LTR */
  position: static;
}
html.js .vertical-tabs-panes .fieldset-legend span.summary {
  display: inline-block;
  text-transform: none;
  font-weight: normal;
  margin-left: 0; /* LTR */
}
/* removes extra space not needed when inside tabs */
.vertical-tabs-panes .form-radios,
.vertical-tabs-panes .form-item {
  margin: 0 0 .5em;
  padding: 0;
}

/* create the two column layout for 960+ */
@media all and (min-width: 960px) and (max-width: 5000px) {
  /* corrects mismatch between the text format div and the text area in the tabs column */
  form[class^='node-'] #edit-body-und-0-format{
    width: 99.1%;
  }
  form[id^='block-'] #edit-body-und-0-format {
    width: 64.444%;
  }
}










