/**
 * Right column CSS

/* create the two column layout for 960+ */
@media all and (min-width: 960px) and (max-width: 5000px) { /* make the tabs column for the vertical tabs */
  /* make all the form elements 65% on node and block forms 
   * TODO: this needs to be re-done with js that adds the column on admin pages where vertical tabs exist */
  form[class^='node-'] .fieldset,
  form[class^='node-'] .form-wrapper,
  form[class^='node-'] .form-item-title,
  form[id^='block-'] fieldset,
  form[id^='block-'] .form-wrapper,
  form[id^='block-'] .form-item {
    width: 65%;
    float: left; /* left column */
  }
  form[class^='node-'] .vertical-tabs-panes,
  form[id^='block-'] .vertical-tabs-panes {
    position: absolute;
    right: 0; /* right column */
    left: initial;
    padding: 0; 
    margin: 0;
  }
  /* re-positions vertical tabs title at the top of the tabs column for Block UI, account settings */
  form[id^='block-'] #edit-visibility-title {
    position: absolute;
    right: 0; /* right column */
    left: initial;
    top: 0;
  }
  .text-format-wrapper > .description {
    float: left; /* left column */
  }
  .text-format-wrapper .fieldset-wrapper .description {
    float: left; /* left column */
    width: 100%;
  }
}









